<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>HELLOWORLDJAVAEEP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JAVASERVLET</display-name>
    <servlet-name>JAVASERVLET</servlet-name>
    <servlet-class>net.codejava.javaee.JAVASERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAVASERVLET</servlet-name>
    <url-pattern>/JAVASERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JAVASERVLETS</display-name>
    <servlet-name>JAVASERVLETS</servlet-name>
    <servlet-class>net.codejava.javaee.JAVASERVLETS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAVASERVLETS</servlet-name>
    <url-pattern>/HELLOSERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>net.codejava.javaee.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
</web-app>